
.collage-element{
	width:7em;
	border:1px solid grey;
	background:#FFF;
	margin:auto;
	margin-top:10px;
	
}
.hide{
	display: none;
}

.slide_selected{
	box-shadow: 0 0 10px #0F0;
	-moz-box-shadow: 0 0 10px #0F0;
	-webkit-box-shadow: 0 0 10px #0F0;
}
