@container-div-bg-color :rgb(169, 191, 54);
@info-h2-text-shadow :rgb(72,82,0);
@info-span-color: rgb(237, 235, 39);
@loginpanel-input-bg-color: rgb(255, 241, 170);
@loginpanel-input-border-color:rgb(251,217,8);
@loginpanel-well-box-shadow-color:rgb(89,105,6);
@loginpanel-well-bg-color:@white;
@yellow-color:#F9CC00;
h1, h2, h3, h4, h5, h6 {
	font-family:Verdana;
}
body {
	background-color:@container-div-bg-color;
}
.header-border {
	border-bottom: 8px solid @header-border-color;
}

.navbar {
	margin-bottom:0;
}

.container-fluid {
	padding-left:0;
	padding-right:0;
}

.spiral-div {
	background-image:url('../../../../images/home/background-img.jpg');
	background-color: @main-container-color;
	background-repeat:repeat-y;
	background-position: top center;
	opacity:0.3;
	float:left;
	min-height:25em;
	width:15%;
}

.container-div {
	width:85%;
	float:left;
	background-color:@container-div-bg-color;
	.body-container {
		float:left;
		.info-panel {
			width:65%;
			float:left;
			margin-top:1em;
			margin-left:1.1%;
			.animations {
				float:left;
				margin-left: 2.3%;
				width: 47%;
				.animate-img {
					width:42%;
					margin-top:6.1em;
					margin-left:36%;	
				}	
				.animate1-img {
					margin-top:-25em;
					width:55%;
				}
				.national-img {
					width:59%;
					opacity:0.9;
					margin-top:-1em;
				}
			}
			.info {
				float:left;
				width:60%;
				opacity:0.9;
				margin-left: -10%;
				.create-header {
					margin-left: -7%;
					margin-top: 0.5em;			
				}
				.magazine-header {
					margin-top:0.2em;
					margin-left:10px;
				}
				h2 {
					letter-spacing: 2px;
					color: white;
					text-shadow:2px 2px 2px @info-h2-text-shadow;
					font-size: 65px;
					font-weight: bold;
					font-family:verdana;
					span {
						letter-spacing:1px;
						color: @info-span-color;
						text-shadow:2px 2px 2px @info-h2-text-shadow;
						display: block;
						font-size: 28px;
						font-weight: bold;
						margin-left: 9em;
						margin-top: -1.5em;
					}
				}
				h3 {
					letter-spacing: 1px;
					color: @info-span-color;
					text-shadow:2px 2px 2px @info-h2-text-shadow;
					font-size: 30px;
					font-weight: bold;
					margin-left:8em;
					margin-top:-4px;
				}
				p {
					width:90%;
					color:white;
					font-family:Verdana;
					font-size:16px;
					margin-top:3em;
					margin-left:1em;
				}
				p.intro-text {
					margin-top:1em;
				}
			}
		}
	}
	.footer-info {
	 	padding-top:2em;
		clear: both;
		color:white;
		font-family:Verdana;
		font-size:15px;
		text-align:center;
	}
	hr.footer{
		display: block;
		height: 0px;
	    border: 0; 
	    color:@yellow-color;
	    border-top: 2px solid @yellow-color;
	    margin: 0 auto; 
	    padding: 0; 
	    width:80%;
 	}
}


.login-panel {
	width:31%;
	float:left;
	margin:1.5em 2.9% 1.5em 0;
	max-width:500px;
	.well {
		.border-radius(10px);
		.box-shadow(0px 3px 3px @loginpanel-well-box-shadow-color);
		padding:19px;
		min-height:29em;
		background-color:@loginpanel-well-bg-color;
	}
    h3 {
    	margin-bottom:5px;
    	opacity:0.8;
    }
    p {
      margin-bottom:1.3em;
    }
	input[type="text"] ,input[type="email"],input[type="password"]{
		height: 28px;
		background-color: @loginpanel-input-bg-color;
		border:solid 2px @loginpanel-input-border-color;
		margin-bottom:1.5em;
		font-size:17px;
		font-family:Verdana;
		
	}
	input[type="text"],input[type="email"] {
		width: 94%;
	}
	input[type="password"] {
		width: 94%;
		margin-bottom:.7em;
	}
	input[type="checkbox"]  {
		margin-top:2px;
	}
	input[type="submit"]  {
		.vertical-gradient(darken(@top-navbar-btn-color,10%), @top-navbar-btn-color);
	    border: 4px solid lighten(@top-navbar-btn-border-color,5%);
	    .border-radius(10px);
	    color: white;
	    font-size: 16px;
	    height: 40px;
	    margin-top:2em;
	    text-shadow: 1px 1px 1px #333333;
	    &:hover {
	     	 .vertical-gradient(darken(@top-navbar-btn-color,10%), @top-navbar-btn-color);
	     	 background-position: 0 0px;
		}
	}
	a#login_in {
	 	margin-top:2em;
	 	padding:  9px 3px;
		 color:@white;
		 .border-radius(10px);
		 font-weight: bold;
		 .vertical-gradient(@top-navbar-btn-border-color, lighten(@top-navbar-btn-border-color,10%));
		 .border-radius(10px);
		 span {
		 	.vertical-gradient(darken(@top-navbar-btn-color,10%), @top-navbar-btn-color);
		 	.border-radius(5px);
		 	font-family: Verdana;
			font-size: 16px;
			font-weight: normal;
			 padding: 6px 8px;
			text-shadow: 1px 1px 1px @text-shadow-color;
			text-align:left;
		 }
     }
     a:hover#login_in {
     	 .vertical-gradient(@top-navbar-btn-border-color, lighten(@top-navbar-btn-border-color,10%));
		 .border-radius(10px);
		  color:@white;
		  span {
		 	.vertical-gradient(darken(@top-navbar-btn-color,10%), @top-navbar-btn-color);
		 	.border-radius(5px);
		 }
	}
}
/*sign in panel styles*/
#student-login {
	min-height:75px;
	a {
		margin-top:0px;
	}
	a#create-magazine{
		margin-top:.7em;
	}
	 a#resume-magazine{
		margin-top:2em;
	}
	a#create-magazine , a#resume-magazine{	 	
	 	padding:  9px 3px;
		 color:@white;
		 .border-radius(10px);
		 font-weight: bold;
		 .vertical-gradient(@top-navbar-btn-border-color, lighten(@top-navbar-btn-border-color,10%));
		 .border-radius(10px);
		 span {
		 	.vertical-gradient(darken(@top-navbar-btn-color,10%), @top-navbar-btn-color);
		 	.border-radius(5px);
		 	font-family: Verdana;
			font-size: 16px;
			font-weight: normal;
			 padding: 6px 1px;
			text-shadow: 1px 1px 1px @text-shadow-color;
			text-align:left;
		 }
     }
     a:hover#create-magazine , a:hover#resume-magazine{
     	 .vertical-gradient(@top-navbar-btn-border-color, lighten(@top-navbar-btn-border-color,10%));
		 .border-radius(10px);
		  color:@white;
		  span {
		 	.vertical-gradient(darken(@top-navbar-btn-color,10%), @top-navbar-btn-color);
		 	.border-radius(5px);
		 }
	}
}

#magazine-details-container {
	min-height:120px;
}
table#magazine-details {
	td{
		vertical-align:middle;
		p {
			display:inline;
			margin:0px;
		}
		p.bold{
			font-weight:bold;
		}
		p.italic{
			font-style:italic;
		}
		a {
			margin-top:0px;
			float:right;
		}
	}
	th{
		padding:6px;
		vertical-align:middle;
		span{
			font-size:14px;
			font-weight:normal;
		}
	}
	
	 a {
		background-repeat:no-repeat;
		background-color: none;
   		background-image: none;
     }
     a:hover {
     	background-repeat:no-repeat;
		background-color: none;
   		background-image: none;
	}
}