@backGround-color:#CCCCCC;
@border-color:#CCCCCC;

/* Generic pane rules */
body {
	font-family:Arial;
	font-size:13px;
	background: #FFFFFF;
}


.footer {
	background: none repeat scroll 0 0 #E0E0E0;
    font-weight: bold;
    color:#999999;
    text-align: center;
}

.navbar {
     .navbar-inner {
		#gradient > .vertical(@backGround-color, @white);
		border-bottom:1px solid #CCCCCC;
		padding-left:10px;
	    padding-right:0;
     }
}

#leftsidebar {
	ul  {
		li {
			border: solid 1px @border-color;
		}
	}
}


#main-container {
	background-color: #CCCCCC;

	/* Current PPT slide in view - which will contains the graphics */
	#the-slide {
		background-color: #FFFFFF;
	}

}



