@container-div-bg-color :#DDDDDD;
@info-h2-text-shadow :#B9B9B9;
@info-span-color: #2F2F2F;
@loginpanel-input-bg-color: rgb(240, 240, 240);
@loginpanel-input-border-color:#CCCCCC;
@loginpanel-well-box-shadow-color:#555555;
@loginpanel-well-bg-color:@white;
@heading-two-color:#555555;
@info-panel-color:#333333;
@spriral-bg-color:#A9A9A9;


body {
	background-color:@container-div-bg-color;
}

.header-border {
	border-bottom: 2px solid @header-border-color;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: lighten(@black,5%);
  border-color: @black;
  &:focus {
    border-color: @black;
    .box-shadow(0 0 6px lighten(@black, 20%));
  }
}

.spiral-div {
	background-image:url('../../../../images/home/background-img-gray.png');
	background-color: @spriral-bg-color;
}

.container-div  {
	.body-container {
		.info-panel {
			.info {
				h2 {
					color:@heading-two-color;
				}
				p {
					color:@info-panel-color;
				}
			}
		}
		.login-panel {
			input[type="submit"]  {
				background:none;
				background-color:darken(@top-navbar-btn-color, 10%);
			    border: 0 none;
			    color:@heading-color;
			    text-shadow: none;
			    font-weight: bold;
			    height:33px;
			}
		}
		#student-login {
			a#create-magazine {
				padding: 4px 3px;
				color:@heading-color;
				background:none;
				background-color:darken(@top-navbar-btn-color, 10%);
			 	span {
				 	background:none;
				 	background-color:darken(@top-navbar-btn-color, 10%);
					padding: 3px 9px;
					text-shadow: none;
					font-weight:bold;
				}
			}
			a#resume-magazine {
				padding: 4px 3px;
				color:@heading-color;
				background:none;
				background-color:darken(@top-navbar-btn-color, 10%);
			 	span {
				 	background:none;
				 	background-color:darken(@top-navbar-btn-color, 10%);
					padding: 3px 12px;
					text-shadow: none;
					font-weight:bold;
				}
			}
		} 
	}
	.footer-info {
		color:@info-panel-color;
	}
	hr.footer {
		border-color:@header-border-color;
	}
}

